<div class="grid 2xl:gap-5 xl:gap-4 lg:gap-4 md:gap-2 sm:gap-1 gap-1
            flex justify-center 
            xl:grid-cols-3 xl:grid-rows-1 
            lg:grid-cols-3 lg:grid-rows-1 
            md:grid-cols-3 md:grid-rows-1
            sm:grid-cols-3 sm:grid-rows-1
            grid-cols-3 grid-rows-1
            border-0 border-white
            m-2
            p-4
            ">
    <div class="lg:h-60 lg:p-8 md:p-6 sm:p-4 border-0 border-slate-100 rounded-md place-items-center">
        <p class="text-white text-xs 2xl:text-3xl xl:text-2xl lg:text-xl md:text-lg sm:text-sm"> Application Development </p>
        <img class="m-4 w-1/2" src="/assets/images/mobile-app-svgrepo-com.svg"/>
    </div>
    <div class="lg:h-60 lg:p-8 md:p-6 sm:p-4 border-0 border-slate-100 rounded-md place-items-center">
        <p class="text-white text-xs 2xl:text-3xl xl:text-2xl lg:text-xl md:text-lg sm:text-sm opacity-100"> Cloud Development </p>
        <img class="m-4 w-1/2" src="/assets/images/cloud-backup-svgrepo-com.svg"/>
    </div>
    <div class="lg:h-60 lg:p-8 md:p-6 sm:p-4 border-0 border-slate-100 rounded-md place-items-center">
        <p class="text-white text-xs 2xl:text-3xl xl:text-2xl lg:text-xl md:text-lg sm:text-sm opacity-100"> Consulting </p>
        <img class="m-4 w-1/2" src="/assets/images/intelligent-positioning-svgrepo-com.svg"/>
    </div>
</div>
