<div class="border-1 border-white p-2">
    <h6 class="font-headline font-bold mb-4"> Continuous Integration & Deployment</h6>
    <div class="grid grid-cols-3 gap-2 auto-cols-max place-items-center">

{% for framework in site.data.cloud-frameworks %}

        <div class="w-full bg-indigo-500 h-100 p-20 border border-blue-400/75 rounded-lg place-items-center">
            <p class="text-white text-xs 2xl:text-2xl xl:text-2xl lg:text-xl md:text-lg sm:text-sm"> {{framework.name}} </p>
        </div>

    
{% endfor %}

    </div>
</div>
