<div class="border-0 border-white place-items-center">

    <p class="border-0 max-w-4xl p-6 xl:text-4xl lg:text-2xl md:text-4xl 
              sm:text-2xl font-headline font-bold text-white leading-relaxed"
    >
      Are you in search of a talented and reliable software freelancer to bring your digital dreams to life?
    </p>
    
    <p class="border-0 p-4 text-cyan-200 xl:text-5xl lg:text-4xl md:text-3xl sm:text-lg 
              md:text-3xl sm:text-lg font-headline 
              font-extrabold ">
       Look no further!
    </p>
</div>
