<nav class="flex 
            flex-col
            justify-center
            items-center
            sticky
            top-0
            z-50
            h-12
            border-20
            border-indigo-500

            bg-indigo-950
            ">

    <div class="flex w-screen max-w-6xl justify-between items-center">
            <a href="/" > <span class="p-2 m-2 font-medium text-indigo-100 text-2xl"> visidra.com </span></a>
            <a href="/projects" > <span class="p-2 m-2 font-medium text-indigo-100 text-lg"> /projects </span></a>
    </div>
    
</nav>
