<div class="h-[60px] w-full bg-indigo-900 border-indigo-950/75">
    <nav class="container mx-auto flex justify-between items-center sticky top-0 z-50 border-indigo-600 border-l border-r h-[60px]">
        <div class="p-2 m-2" > <a href="/" ><img class="h-[30px] {% if page.layout == 'default' %} animate-pulse {% endif %}" src="/assets/images/home-2.svg" /> </a> </div>
        <div class="">
            <!-- <a href="/skills" > <span class="p-2 m-2 font-medium text-slate-100 text-lg {% if page.title == 'Skills' %}underline{% endif %}">Skills</span></a>
                 <a href="/projects" > <span class="p-2 m-2 font-medium text-slate-100 text-lg {% if page.title == 'Projects' %}underline{% endif %}">Projects</span></a> -->
        </div>
    </nav>
</div>
