<nav class="flex
            flex-col
            justify-center
            items-center
            sticky
            top-0
            z-50
            h-12
            border
            bg-indigo-900
            border-indigo-950/75
            p-2 h-[60px]
            ">

    <div class="flex w-full items-center justify-between">
        <div class="p-2 m-2" > <a href="/" ><img class="h-[30px] {% if page.layout == 'default' %} animate-pulse {% endif %}" src="/assets/images/home-2.svg" /> </a> </div>
        <div class="">
            <a href="/skills" > <span class="p-2 m-2 font-medium text-slate-100 text-lg {% if page.title == 'Skills' %}underline{% endif %}">Skills</span></a>
            <a href="/projects" > <span class="p-2 m-2 font-medium text-slate-100 text-lg {% if page.title == 'Projects' %}underline{% endif %}">Projects</span></a>
        </div>
    </div>
</nav>
