<div class="flex rounded-md border-2 border-white m-2">

    <div class="flex-none bg-white">
        <div class="flex justify-center items-center  content-center align-middle w-64">
            <div class="border-0 border-indigo-500/100 rounded-md">
                <img class="" src="/assets/images/dragan.png"/>
            </div>
        </div>
    </div>
    <div class="grow h-100 bg-indigo-500 xl:p-14 lg:p-10 md:p-8 sm:p-8 p-4 prose prose-stone">
        <h2 class="text-white"> Dragan Dimitrijevic </h2>

        <p class="text-white">
        As a seasoned software freelancer with a passion for problem-solving, I am dedicated to delivering solutions that exceed your expectations.
        From web development to mobile applications, and everything in between, I offer a wide range of services that cater to your unique requirements. 
        </p>
    </div>

</div>

<div class="p-4 flex justify-around items-center border-0 border-indigo-200">
    <div>
        <a class="text-white font-bold"> dragan@visidra.com </a>
    </div>
    <div>
        <a class="text-white font-bold"> +45 26 35 57 30 </a>
    </div>
    <div>
        <a class="text-white font-bold" href="https://www.dragandimitrijevic.com/"> www.dragandimitrijevic.com</a>
    </div>
</div>
{% comment %}
<div class="grid grid-cols-2 gap-2">
    <div class="p-4 col-span-1 bg-indigo-600 lg:p-10 md:p-14 prose prose-stone border-2 border-indigo-700">
        <p class="text-white">
   My expertise extends to various programming languages, ensuring that your project is in the hands of a true professional.
   But it's not just about coding - I take the time to truly understand your vision, collaborating closely to refine concepts and enhance user experiences. 
        </p>
    </div>
    <div class="p-4 col-span-1 bg-indigo-600 lg:p-10 md:p-14 prose prose-stone border-2 border-indigo-700">
        <p class="text-white">
     Your success is my success, and I am committed to delivering on time and within budget.
     Whether you're a startup with big dreams or an established business seeking a fresh perspective, I am here to empower you. 
     Write me an email and lets take the first step towards a brighter digital future!
        </p>
    </div>

</div>
{% endcomment %}
