<div class="flex border-t border-b border-gray-400-df m-6 p-6 border-blue-400/75">

    <div class="flex items-center justify-center bg-white">
        <div class="w-96 p-1">
            <img class="shadow-xl " src="/assets/images/dragan.png"/>
        </div>
    </div>

    <div class="grow place-content-center xl:p-10 lg:p-6 md:p-6 sm:p-8 p-4">
        <div class="prose">
            <h3 class="text-white"> Software Engineer - Freelancer </h3>
            <h2 class="text-white"> Dragan Dimitrijevic </h2>
            <p class="text-white lg:text-5xl lg:text-lg md:text-lg sm:text-sm text-xs">
With over a decade of experience across web, mobile, and cloud platforms, I focus on building systems that are not only functional but meaningful. Whether I'm architecting scalable APIs, frontend apps, or integrating complex third-party services, I care about code quality, long-term maintainability, and real-world value.
            </p>
            <p class="text-white lg:text-5xl lg:text-lg md:text-lg sm:text-sm text-xs">My latest project, TimeTracks, reflects how I build: practical, user-focused, and designed to last.</p>
            <p class="text-white lg:text-5xl lg:text-lg md:text-lg sm:text-sm text-xs">
                Email me at <span class="text-cyan-400 font-bold"> dragan@visidra.com </span> or call <span class="text-cyan-400 font-bold">+45 26 35 57 30</span>.
            </p>
            <p class="text-white lg:text-5xl lg:text-lg md:text-lg sm:text-sm text-xs">
                You can also check out my online portfolio  <a class="no-underline" href="https://dragandimitrijevic.com"> <span class="text-cyan-400 font-bold"> dragandimitrijevic.com </span> </a>.
            </p>
        </div>
    </div>
</div>
