<div class="flex rounded-md border-2 border-white m-2">

    <div class="flex-none bg-white">
        <div class="flex justify-center items-center w-96">
            <div class="border-0 border-indigo-500/100 rounded-md">
                <img class="" src="/assets/images/dragan.png"/>
            </div>
        </div>
    </div>

    <div class="grow place-content-center xl:p-14 lg:p-10 md:p-8 sm:p-10 p-4">
        <div class="prose">
            <h2 class="text-white"> Dragan Dimitrijevic </h2>
            
            <p class="text-white lg:text-5xl lg:text-lg md:text-lg sm:text-sm text-xs">
        As a seasoned software freelancer with a passion for problem-solving, I am dedicated to delivering solutions that exceed expectations.
        From web development to mobile applications, and everything in between, I offer a wide range of services that cater to your unique requirements. 
            </p>
            <p class="text-white lg:text-5xl lg:text-lg md:text-lg sm:text-sm text-xs">
                Feel free to drop me an email at <span class="text-cyan-500 font-bold"> dragan@visidra.com </span> or give me a call on <span class="text-cyan-500 font-bold">+45 26 35 57 30</span>.
            </p>
        </div>
    </div>
</div>


{% comment %}
<div class="grid grid-cols-2 gap-2">
    <div class="p-4 col-span-1 bg-indigo-600 lg:p-10 md:p-14 prose prose-stone border-2 border-indigo-700">
        <p class="text-white">
   My expertise extends to various programming languages, ensuring that your project is in the hands of a true professional.
   But it's not just about coding - I take the time to truly understand your vision, collaborating closely to refine concepts and enhance user experiences. 
        </p>
    </div>
    <div class="p-4 col-span-1 bg-indigo-600 lg:p-10 md:p-14 prose prose-stone border-2 border-indigo-700">
        <p class="text-white">
     Your success is my success, and I am committed to delivering on time and within budget.
     Whether you're a startup with big dreams or an established business seeking a fresh perspective, I am here to empower you. 
     Write me an email and lets take the first step towards a brighter digital future!
        </p>
    </div>

</div>
{% endcomment %}
