<div class="flex justify-start items-center">
    <img class="h-12 opacity-40" src="/assets/images/set-up.svg" />
    <h2 class="py-6 pl-2 text-4xl font-headline tracking-tight font-bold text-white">Projects</h2>
</div>
{% assign projects = site.posts | where_exp: "item", "item.tags contains 'project'" %}
{% for project in projects %}
<div class="p-4 border rounded-lg bg-white mb-4 pb-8">

    <article class="prose m-8">
        <h2> {{project.title}} </h2>
        <p>  {{project.content}} </p>
    </article>
    <h3 class="text-black mx-8"> Techstack </h3>
    <div class="flex justify-start mx-8">
        <div class="p-2 h-10 w-10 border-2 border-slate-100 rounded-md">
            <a href="https://angular.dev/">
                <img class="object-center" src="/assets/images/angular-svgrepo-com.svg">
            </a>
        </div>
        <div class="p-2 h-10 w-10 border-2 border-slate-100 rounded-md">
            <a href="https://nodejs.org/">
                <img class="object-center" src="/assets/images/nodejs-svgrepo-com.svg">
            </a>
        </div>
        <div class="p-2 h-10 w-10 border-2 border-slate-100 rounded-md">
            <a href="https://www.serverless.com/">
                <img class="object-center" src="/assets/images/serverless-svgrepo-com.svg">
            </a>
        </div>
        <div class="p-2 h-10 w-10 border-2 border-slate-100 rounded-md">
            <a href="https://aws.amazon.com/">
                <img class="object-center" src="/assets/images/aws-svgrepo-com.svg">
            </a>
        </div>
    </div>
    <div class="mx-8">
   {% for aws in project.aws %}
        <div class="inline-flex items-center rounded-md bg-indigo-50 px-2 py-1 text-xs font-medium text-indigo-800 ring-1 ring-inset ring-yellow-600/20">{{ aws }}</div>
   {% endfor %}
    </div>
</div>
{% endfor %}
