---
---
/* Tailwindcss */
@tailwind base;
@tailwind components;
@tailwind utilities;

html { 
    /*background: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url('/assets/images/waterfall.jpg') no-repeat center center fixed;*/
    /*background: url('/assets/images/waterfall.jpg') no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: brightness(80%);

/*  opacity: 0.5;*/
}
