<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    <head>
        <title>{{ page.title }} - {{ site.title }}</title>
        <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
        {% include meta.html %}
    </head>
    <body class="bg-gradient-to-r from-sky-200 to-indigo-200 font-sans">
        <div class="m-16 flex justify-center items-center bg-blue-100" role="main">
            <div class="px-16 border-slate-800 rounded-md">
                <h1
                    class="mt-6 text-4xl font-headline tracking-tight font-extrabold text-gray-800 leading-snug"
                    role="heading"
                    aria-level="1"
                >We got the software development skills... <br />
                    <span class="text-5xl text-cyan-500" role="heading" aria-level="1">And we would like to deliver them to your business.</span>
                </h1>
                <p class="w-3/5 mt-4 text-gray-600 text-lg" aria-level="2">
                    <ul class="list-inside list-disc text-lg ml-4">
                        <li>Application Development</li>
                        <li>Cloud Development </li>
                        <li>Consulting</li>
                    </ul>
                </p>
                <div class="mt-4 flex">
                    <p class="text-xl ml-2 font-medium rounded-md text-slate-500" href="#">Please contact dragan@visidra.com</p>
                </div>
            </div>
            <div class="m-20" role="img">
                <img
                    class="object-cover object-center w-96 rounded-md hover:shadow-lg transform"
                    src="https://images.unsplash.com/photo-1531209543467-b496dcb567fa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2574&q=80"
                    
                    alt="Waterfall"
                />
            </div>
        </div>
    </body>


</html>
