<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

    {% include head.html %}
    <body class="bg-gradient-to-bl from-sky-500 from-10% to-indigo-900 to-90% font-sans">

        {% include navbar.html %}
        <div class="flex justify-center h-screen overflow-auto" role="main">

            <div class="w-screen max-w-6xl border-0 border-white">

                <div class="p-2 p-6 xl:p-6 lg:p-6 md:p-6 sm:p-4 border-0 border-white"></div>

                <div class="p-4 border-0 border-white">

                    <h1
                        class="p-6 xl:text-4xl lg:text-4xl md:text-3xl sm:text-2xl font-headline tracking-tight font-bold text-white leading-snug"
                        role="heading"
                        aria-level="1"
                    >Are you in search of a talented and reliable software freelancer to bring your digital dreams to life?</h1>
                
                    <h1>
                        <span class="p-6 lg:text-5xl lg:text-4xl 
                                     md:text-3xl sm:text-lg font-headline 
                                     font-extrabold text-cyan-500" role="heading" aria-level="1">Look no further!</span>
                    </h1>
                </div>
    
                {% include banner.html %}


                {% include profile.html %}
                

                <div class="p-2 p-6 xl:p-6 lg:p-6 md:p-6 sm:p-4 border-0 border-white"></div>
                {% include skills.html %}

                <div class="p-2 p-6 xl:p-6 lg:p-6 md:p-6 sm:p-4 border-0 border-white"></div>
                {% include cloud-frameworks.html %}

                <div class="p-2 p-6 xl:p-6 lg:p-6 md:p-6 sm:p-4 border-0 border-white"></div>                
            </div>

        </div>

    </body>


</html>
