<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  {% include head.html %}
  <body class="bg-gradient-to-bl from-sky-500 from-10% to-indigo-900 to-90% font-sans">
    
    {% include navbar.html %}
    <div class="flex justify-center h-screen overflow-auto" role="main">
        <div class="w-screen max-w-6xl text-white">
            <div class="p-2 p-6 xl:p-6 lg:p-6 md:p-6 sm:p-4"></div>
            <div class="p-2 border-0 border-white">
                <h2 class="p-6 text-4xl font-headline tracking-tight font-bold text-white">Projects</h2>
            </div>

          {% assign projects = site.posts | where_exp: "item", "item.tags contains 'project'" %}
        {% for project in projects %}
            <div class="p-4 border-2 rounded-lg bg-white mb-4">
                {% include project.html project=project %}
            </div>
        {% endfor %}        


      </div>
      
    </div>
    
  </body>
  

</html>
