<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  {% include head.html %}
  <body class="bg-gradient-to-bl from-sky-500 from-10% to-indigo-900 to-90% font-sans">
    
        <div class="flex">
            {% include navbar.html %}
        </div>
        <div class="2xl:bg-yellow-500 xl:bg-slate-500 lg:bg-red-500 md:bg-green-500 sm:bg-blue-500">
        </div>
        <div class="container mx-auto 2xl:px-80 xl:px-60 lg:px-40 md:px-20 sm:px-10 pt-10">
            {{ content }}
        </div>

  </body>

</html>
